{% extends "base.html" %}
{% block page_css %} 
<script type="text/javascript" src="/static/js/jquery-1.8.2.js"></script>
<script type="text/javascript" src="/static/js/jquery-ui-1.9.0.custom.js"></script>
<script type="text/javascript" src="/static/js/ontodata.js"></script>
<link href="/static/css/excite-bike/jquery-ui-1.9.0.custom.css" rel="stylesheet">
{% endblock %}
{% block body_class %}
class="home"
{% endblock %}
{% block page_body %}
<div class="body-wrap">
	<div class="body">
		<h1 style="display: none;">IFCOntoSearch engine</h1>
		<img class="logo" src="static/img/logo.png" alt="IFCOntoSearch Logo"/>
		<form class="search" name="search_form" method="get" id="searchform" action="browse">
		    <input class="search-input" type="text" value="" placeholder="Enter AEC keywords" name="q" id="q" />
		    <input class="btn" type="submit" name="submit" id="searchsubmit" value="Search"/>
		    <p>e.g.<a href="browse/?q=covering&submit=Search">covering</a>,<a href="browse/?q=flooring&submit=Search">flooring</a>,<a href="browse/?q=sliding+door&submit=Search">sliding door</a></p>
		</form>
		<p class="footnote">
      		<a href="#">Search</a> through over <b>5176</b> building products
   		</p>
	</div>
</div>
{% endblock %}